<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="NoTalentDB"
			 connectionString="Server=citizen.manukautech.info,6306;Database=S601_NoTalent_Project;User ID=S601_NoTalent;Password=fBit$79968;" 
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>
